@media (max-width: 1200px) {
    /*<----- Header ----->*/
    .header-img {
        width: 800px;
        top: 52px;
        right: 0;
    }

    .header-nav {
        margin-right: 120px;
    }

    .header-contacts {
        width: 190px;
        text-align: center;
    }

    /*<----- Services ----->*/
    .circle-middle {
        right: 3%;
    }

    .services-content-wrap {
        width: 1000px;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        left: 2%;
    }

    .benefits-img {
        width: 35%;
        top: 10%;
    }
}

@media (max-width: 1024px) {
    /*<----- Header ----->*/
    .circle-big {
        width: 570px;
        height: 570px;
    }

    .header-img {
        width: 780px;
        top: 67px;
    }

    .nav-wrap {
        padding: 30px 15px 0 15px;
    }

    .header-nav {
        margin-right: 10px;
        margin-left: 25px;
    }

    .header-contacts {
        width: 220px;
    }

    /*<----- Services ----->*/
    .circle-middle {
        width: 200px;
        height: 200px;
        top: 0;
        right: 0;
    }

    .services-content-wrap {
        margin-left: 10px;
    }

    /*<----- Works ----->*/
    .circle-middle {
        top: 15%;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        width: 60px;
        height: 60px;
        top: -3%;
        left: 1%;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        left: -5%;
    }
}

@media (max-width: 992px) {
    /*<----- Header ----->*/
    .circle-big {
        width: 520px;
        height: 520px;
    }

    /*<----- Services ----->*/
    .services-content-wrap {
        width: 930px;
        margin: 20px auto;
    }

    .services-buttons {
        width: 240px;
        flex-direction: column;
    }

    .services-button {
        margin-bottom: 20px;
    }

    .arrows {
        text-align: center;
    }

    /*<----- Benefits ----->*/
    .wrap-benefits {
        text-align: center;
    }

    .benefits-img {
        width: 21%;
        top: 11%;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        left: -4%;
    }
}

@media (max-width: 768px) {
    /*<----- Header ----->*/
    header {
        height: 510px;
    }

    .circle-small {
        width: 125px;
        height: 125px;
    }

    .circle-big {
        width: 350px;
        height: 350px;
    }

    .header-img,
    .header-nav,
    .header-contacts {
        display: none;
    }

    .nav-wrap {
        padding-top: 10px;
    }

    .m-menu-btn {
        display: block;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .overlay .closebtn {
        right: 50px;
    }

    .overlay-content {
        top: 15%;
    }

    .wrap {
        width: 100%;
        margin: 30px auto;
        padding: 0 5px;
        align-items: center;
    }

    .header-wrap {
        height: 400px;
    }

    .header-description,
    .services-personal-wrap {
        width: 100%;
        text-align: center;
    }

    /*<----- About ----->*/
    .about {
        padding-bottom: 5px;
    }

    .about-wrap {
        width: 100%;
        padding: 0 20px;
    }

    .section-title {
        text-align: center;
    }

    /*<----- Services ----->*/
    .services-personal-wrap {
        margin-top: 0;
    }

    .services-content-wrap {
        width: 650px;
        margin-top: 40px;
    }

    .services-content-wrap > img {
        width: 300px;
        height: 250px;
    }

    /*<----- Works ----->*/
    .circle-middle {
        top: 2%;
        right: 8%;
    }

    .works-blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .works-block:first-child {
        margin-bottom: 20px;
    }

    .works-block span {
        text-align: center;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        top: -7%;
        left: 5%;
    }

    .benefits-img {
        top: 17%;
    }

    /*<----- Models ----->*/
    .models-blocks {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .models-block {
        flex-basis: 35%;
        margin-bottom: 20px;
    }

    /*<----- Partners ----->*/
    .partners-blocks {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .partners-block {
        flex-basis: 35%;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        top: -5%;
        left: 3%;
    }

    .wrap-contacts {
        flex-direction: column;
    }

    .contacts-data {
        align-items: center;
        text-align: center;
    }

    .contacts-data h2 {
        margin: 0;
    }

    .contacts-form {
        height: 400px;
        margin-top: 30px;
        text-align: center;
    }

    .contacts-button-wrap {
        text-align: center;
    }

    .contacts-bg-img {
        width: 190px;
        top: 20%;
        left: 70%;
    }

    /*<----- Footer ----->*/
    .footer-wrap {
        width: 95%;
    }

    .footer-nav a {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    /*<----- About ----->*/
    .about-blocks {
        flex-wrap: wrap;
        text-align: center;
    }

    .about-block {
        flex-basis: 50%;
    }

    /*<----- Services ----->*/
    .services-content-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-content-wrap > img {
        width: 420px;
        height: 350px;
    }

    .services-content {
        margin-top: 0;
        align-items: center;
    }

    .services-content span {
        text-align: center;
    }

    .services-slider {
        padding-left: 10px;
    }

    .arrows {
        order: -1;
    }

    /*<----- Works ----->*/
    .circle-middle {
        top: 5%;
        right: 0;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        top: -8%;
    }

    .benefits-graph-wrap {
        padding: 0 5px;
    }

    .benefits-graph-wrap img {
        max-width: 100%;
    }

    .benefits-img {
        top: 25%;
    }

    /*<----- Models ----->*/
    .models-blocks {
        height: 620px;
    }

    /*<----- Partners ----->*/
    .wrap-partners {
        margin-top: 80px;
    }

    /*<----- Сontacts ----->*/
    .contacts-bg-img {
        width: 130px;
        top: 26%;
        left: 70%;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        width: 40px;
        height: 40px;
        left: 1%;
    }

    /*<----- Footer ----->*/
    .footer-contacts {
        display: none;
    }
}

@media (max-width: 425px) {
    /*<----- Header ----->*/
    header {
        height: 555px;
    }

    .circle-big {
        width: 230px;
        height: 230px;
    }

    .section-wrap {
        padding: 0 20px;
    }

    .header-wrap {
        height: 450px;
    }

    .buttons {
        flex-direction: column;
    }

    .button-order {
        margin-bottom: 30px;
    }

    /*<----- About ----->*/
    .header-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*<----- Services ----->*/
    .services-content-wrap > img {
        width: 400px;
        height: 330px;
    }

    /*<----- Works ----->*/
    .circle-middle {
        width: 120px;
        height: 120px;
        top: 7%;
    }

    .works-block {
        width: 90%;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        top: -7%;
    }

    .benefits-img {
        display: none;
    }

    /*<----- Models ----->*/
    .models-blocks {
        height: 100%;
    }

    .models-block {
        flex-basis: 100%;
    }

    /*<----- Partners ----->*/
    .wrap-partners {
        margin-top: 0;
    }
    .partners-block {
        flex-basis: 100%;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        width: 50px;
        height: 50px;
        top: -7%;
        left: 7%;
    }

    .contacts-data {
        width: 90%;
    }

    .contacts-bg-img {
        width: 120px;
        top: 36%;
    }

    /*<----- Footer ----->*/
    .footer-nav a {
        font-size: 10px;
    }

    .footer-contacts-block {
        align-items: center;
    }

    .footer-logo {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    /*<----- Header ----->*/
    header {
        height: 620px;
    }

    .header-wrap {
        height: 500px;
    }

    .buttons {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*<----- About ----->*/
    .section-description {
        text-align: center;
    }

    .about-block {
        flex-basis: 95%;
    }

    /*<----- Services ----->*/
    .services-content-wrap > img {
        width: 350px;
        height: 280px;
    }

    .services-button {
        text-align: center;
    }

    /*<----- Works ----->*/
    .works-block-wrap {
        height: 230px;
    }

    /*<----- Benefits ----->*/
    .benefits-circle-small {
        top: -8%;
    }

    .circle-middle {
        top: 8%;
    }

    /*<----- Сontacts ----->*/
    .contacts-data,
    .contacts-form {
        width: 90%;
    }

    .contacts-bg-img {
        width: 100px;
        top: 38%;
        left: 71%;
    }

    /*<----- Footer ----->*/
    .footer-nav {
        display: none;
    }

    .footer-contacts-block {
        flex-direction: column;
    }

    .footer-logo {
        font-size: 34px;
    }

    .footer-social-blocks {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    /*<----- Header ----->*/
    header {
        height: 620px;
    }

    .header-wrap {
        height: 500px;
    }

    /*<----- Services ----->*/
    .services-content-wrap > img {
        width: 300px;
        height: 230px;
    }

    /*<----- Works ----->*/
    .circle-middle {
        top: 8%;
    }

    .works-block-wrap {
        height: 260px;
    }

    /*<----- Сontacts ----->*/
    .contacts-circle-small {
        top: -7%;
    }

    .contacts-button {
        width: 100%;
        padding: 10px 65px;
        margin-bottom: 0;
    }

    .contacts-bg-img {
        width: 80px;
        top: 40%;
        left: 72%;
    }

    /*<----- Footer ----->*/
    .footer-social-blocks {
        width: 280px;
    }
}